<div class="flex flex-col h-screen  m-auto w-full lg:w-1/2 bg-gray-100">
    <!-- Chat Header -->
    <div class="bg-white p-4 text-gray-700">
        <h1 class="text-2xl font-semibold">Eous Chat</h1>
    </div>

    <!-- Chat Messages -->
    <div class="h-screen overflow-y-scroll p-4" #scrollTarget>
        <!-- Incoming Message -->
        @for(message of messages; track message.text){
        @if(message.sender == sender){
        <div class="flex justify-end mb-4 cursor-pointer">
            <div class="flex flex-col items-end">
                <p class="text-sm text-gray-500"><strong>{{message.sender}}</strong>
                    {{message.timestamp|date:'medium'}}</p>
                <div class="flex max-w-96 bg-indigo-500 text-white rounded-lg p-3 gap-3 w-fit">
                    <p>{{message.text|decrypt}}</p>
                </div>
            </div>
        </div>
        }@else{
        <div class="flex mb-4 cursor-pointer">
            <div class="flex flex-col">
                <p class="text-sm text-gray-500"><strong>{{message.sender}}</strong>
                    {{message.timestamp|date:'medium'}}</p>
                <div class="flex max-w-96 bg-white rounded-lg p-3 gap-3 w-fit">
                    <p class="text-gray-700">{{message.text|decrypt}}</p>
                </div>
            </div>
        </div>
        }
        }

        <div id="pinnedChat"> </div>
    </div>

    <!-- Chat Input -->
    <div class="bg-white border-t border-gray-300 p-4 ">
        <div class="flex flex-col gap-1">
            <input type="text" placeholder="enter user name" [(ngModel)]="sender"
                class="w-1/2 p-2 rounded-md border border-gray-400 focus:outline-none focus:border-blue-500">
            <div class="flex items-center w-full">
                <input type="text" placeholder="Type a message..." [(ngModel)]="newMessage"
                    class="w-full p-2 rounded-md border border-gray-400 focus:outline-none focus:border-blue-500">

                <button class="bg-indigo-500 text-white px-4 py-2 rounded-md ml-2" [disabled]="!newMessage"
                    (click)="send()">Send</button>
            </div>
        </div>
    </div>
</div>