<div class="p-6 bg-gray-100 min-h-screen flex flex-col chat-box-container ">
    <!-- Header -->
    <div class="text-center text-2xl font-bold mb-4">Chat Application</div>


    <input type="text" [(ngModel)]="sender" placeholder="Your Name" name="from" required
        class="border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />

    <!-- Messages Section -->
    <div class="flex-1 bg-white rounded shadow overflow-y-auto p-4 min-h-[300px] max-h-[500px] mt-1">
        <div *ngFor="let message of messages$ |async" class="mb-4">
            <p class="text-sm text-gray-500">
                <strong>{{ message.sender }}</strong>
            </p>
            <p class="text-gray-800">{{ message.text }}</p>
        </div>
        <div id="pinnedChat"> </div>
    </div>

    <!-- Send Message Form -->
    <div class="flex flex-col gap-1 bg-white p-4 rounded shadow mt-4">

        <input type="text" [(ngModel)]="newMessage" placeholder="Your Message" name="from" required
            class="border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <button (click)="sendMessage()" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
            Send Message
        </button>

    </div>

</div>